<!DOCTYPE html>

<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-notify.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/swiper.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/swiper.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.tooltip.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-notify.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
    </head>
    <body>
    
        
    <center>
    	<div class="container">
			<div class="col-md-12" style="height:80px;margin-top:10px;margin-bottom:10px;border-radius:4px;opacity:.7">
				<div class="row">
					<a href="#" style="color:white !important" onclick="mySwiper.swipeTo(0);">
						<i class="fa fa-laptop col-sm-1" style="font-size:80px"></i>
						<h1 class="col-sm-11" style="margin-top:12px;font-size:55px" text-align: center>&nbsp;&nbsp;&nbsp;<b>HackFasTool</b></h1>
					</a>
				</div>
			</div>
		</div>
		</center>
<div class="col-sm-12">
    	<legend>
    	<a href="/logout" class="btn btn-danger pull-right"> LogOut</a>
        
        </legend>
        
    </div>
<div class="container" style="height: 40% !important;height: 100%;">
	<div class="col-md-12"
		style="padding: 20px 40px 40px 40px; height: 100%; margin-bottom: 10px; border-radius: 4px; opacity: .9">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<h1 style="font-size: 30px; margin-top:0px;">
							<b>Criar um evento</b>
						</h1>
					</div>
				</div>
				<form action="@routes.EventoController.novo()" method="post">
				<div style="height:450px;background-color:white;color:black;padding:10px">		
					@helper.form(action = routes.EventoController.novo, 'id -> "form-novo-evento") {
						<div class="row">
							<div class="col-md-4">
								<h1 style="font-size: 30px; margin-top:0px;">
									<b>Temas</b>
								</h1>
								<div id='criacao-temas' style="height:100% !important;padding-top:30px;max-height:390px;overflow-x:auto;overflow-y:scroll; " class="list-group">
									 @for(tema <- Tema.values()){
								  		<div class="row list-group-item">
								  			<input name="temas" class="col-md-1" type="checkbox" href="#" value="@tema.name">
								  			<span class="col-md-5">@tema</span>
								  		</div>
								  	}
								</div>
							</div>
							
							<!-- <h1 style="font-size: 30px; margin-top: 0px;">
								<b>Locais</b>
							</h1>
							<div id='criacao-local' >
								<select name="local" class="form-control">
								
									<option value="local">DSC</option> 
									
								</select>
							</div> -->
							<div class="col-md-8" style="height:350px">
								<h1 style="font-size: 30px; margin-top:0px;">
									<b>&nbsp;</b>
								</h1>
								<div style="height:90% !important;max-height:390px;">
									<div class="row">
							  			<input name="titulo" type="text" class="col-md-8 form-control" placeholder="Título do evento" style="width:57% !important;margin-left:20px !important" maxlength="40">
							  			<br><br>
							  			<input name="local" type="text" class="col-md-8 form-control" placeholder="Local do evento" style="width:57% !important;margin-left:20px !important" maxlength="40">
							  			<input name="data" type="date" class="col-md-4 form-control" placeholder="Título do evento" style="width:30% !important;margin-left:20px !important" required>
							  		</div>
							  		<div class="row" style="margin-top:20px">
							  			<textarea name="descricao" style="width:90% !important;margin-left:20px !important;resize: none;" placeholder="Descrição do evento" class="form-control" rows="11" maxlength="450"></textarea>
							  		</div>
							  		
								</div>
								<div class="row" style="margin-left:0px;">
									<button type="submit" class="btn btn-success" style="width:100px; margin-left:5px" value="Cadastrar">Criar</button>
								</div>
							</div>
						</div>
					}
				</div> 
				</form>
			</div>
		</div>
	</div>
</div>

    </body>
</html>
