<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-notify.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/swiper.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/swiper.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.tooltip.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-notify.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
    </head>
    <body>
    	
    	<center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
		<h2 style: center><center>
		Sistema de Hackfest - Pagina de Login
		</h2>  
		 <center>	
		<h3>Caso ainda não tenha registro clique em: <a class="btn btn-info" style="float:center;" href="/registrar"> REGISTRAR</a>
		 </h3>
		 </center>
		  <div class="container form-horizontal panel panel-primary text-info" >
	   <h3 style: center>Insira seu email:</h3>
       <p style=color:black>
	       <input type="email" name="email" placeholder="Email" size="70" maxlength="70">
       </p>
       <h3 style: center>Insira sua senha:</h3>
       <p style=color:black>
	       <input type="password" name="pass" placeholder="Senha" size="30" maxlength="25" >
       </p>
       <br>
       <button class="btn btn-primary" type="submit" value="Entrar">ENTRAR</button>
	   
       </div>
       
       </center> 
    </body>
</html>